.double-f{
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.contact, .social{
    margin: 1rem;
}
.email, .phone, .lind, .git{
    display: flex;
    align-items: center;
}
.email i, .phone i, .lind i, .git i{
    padding: 1rem;
}
.copy-r{
    text-align: center;
    background-color: var(--dark-blue-color);
    color: white;
    padding: 1rem;
}

@media screen and (min-width:1024px) {
    .double-f{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contact{
        padding: 2rem;
        border-right: 1px solid var(--dark-blue-color);
    }
    .contact, .social{
        width: 50%;
    }

}